{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h4>Start:</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla euismod nec odio quis consequat. In et
            tortor sed turpis scelerisque tempor sed eget turpis. Cras dignissim ornare egestas. Donec tempus felis
            tincidunt, consequat enim eu, scelerisque quam. Nulla convallis felis id orci imperdiet posuere. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed vel metus
            magna. Quisque id enim vestibulum, vehicula lectus eu, ultricies ante. Ut vel congue leo, eget luctus
            dolor. Donec eu arcu mollis, vestibulum felis dignissim, mollis felis. Curabitur in purus vitae nunc
            tincidunt porttitor.

            Nam ac ullamcorper purus, ac tempor metus. Vivamus quis velit at purus pulvinar imperdiet. Suspendisse
            lorem lorem, semper quis ipsum vitae, posuere luctus nunc. Aliquam volutpat dapibus est, non semper
            lectus blandit eu. Curabitur vitae metus non risus mollis fermentum vitae sit amet ante. Nam imperdiet
            porta neque, ut pellentesque felis mattis luctus. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Praesent eu convallis erat, non tempor justo. Duis at
            iaculis nulla. In hac habitasse platea dictumst. Curabitur imperdiet dapibus odio at efficitur.

            Ut velit augue, venenatis non faucibus et, varius eget quam. Proin sagittis quam vitae ligula imperdiet,
            pellentesque auctor turpis aliquet. Proin feugiat blandit felis, condimentum faucibus tellus fringilla
            et. Proin vehicula lacinia dolor, nec pharetra risus. Sed luctus, dui id vestibulum volutpat, nulla nisi
            pharetra mi, sed consequat nulla dolor id eros. Aenean volutpat eros non sem molestie tincidunt.
            Curabitur eleifend dolor erat, eget rutrum odio rutrum vitae. Praesent purus nulla, dignissim bibendum
            dapibus tempor, porttitor at leo. Donec vitae erat at sem cursus iaculis. Nulla finibus in quam ut
            sagittis. Mauris eu mauris quam. Ut ex urna, laoreet et ipsum et, elementum egestas dui. Curabitur
            congue volutpat diam, quis bibendum turpis gravida ullamcorper.
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s16 left-align">
            <button class="btn center-align">Back</button>
        </div>
        <div class="col s16 right-align">
            <button class="btn">Next</button>
        </div>
    </div>
{% endblock %}