{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }

	.reuters-text{
        overflow-x: auto;
	    white-space: pre-wrap;
	    white-space: -moz-pre-wrap;
	    white-space: -pre-wrap;
	    white-space: -o-pre-wrap;
	    word-wrap: break-word;
	}
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <h4>Step-1</h4>
            <div class="card-panel yellow accent-1 deep-orange-text text-accent-3 flow-text">Classify the given text as
                Sci or Comp
            </div>
            <p>Class descriptions:</p>
        </div>
        <div>
            <ol>
                <li><b>Sci</b>: emails related to "<b>sci.crypt</b>" (encryption)</li>
                <li><b>Comp</b>: emails related to <b>"comp.os.ms-windows"</b>(windows operating system)</li>
            </ol>
            <hr>
        </div>
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-content">
                    <pre class="reuters-text">{{ txt }}</pre>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="center-align">
                <p>{{ ctr }}/{{ total }}</p>
            </div>
        </div>
    </div>
    <form action="" method="post">
        <div class="row">
            <div class="col s6 right-align">
                <label>
                    <input name="class_label" type="radio" value="sci" required/>
                    <span>Sci</span>
                </label>
            </div>
            <div class="col s6 left-align">
                <label>
                    <input name="class_label" type="radio" value="comp" required/>
                    <span>Comp</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn">Next</button>
            </div>
        </div>
    </form>
{% endblock %}
