{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 center-align">
            <h4>JEDI Only</h4>
            <div class="card-panel yellow accent-1 deep-orange-text text-accent-3 flow-text">Classify if the image is
                Domestic or Wild?
            </div>
        </div>
        <div class="col s12">
            <div class="center-align">
                <img width="224px" height="224px"
                     src="{{ url_for('img_static',domain = 'cat', img_type='orig', filename=image_name) }}"/>
            </div>
        </div>
        <div class="col s12">
            <div class="center-align">
                <p>{{ ctr }}/{{ total }}</p>
            </div>
        </div>
    </div>
    <form action="" method="post">
        <div class="row">
            <div class="col s6 right-align">
                <label>
                    <input name="class_label" class="with-gap"  type="radio" value="domestic" required/>
                    <span>Domestic</span>
                </label>
            </div>
            <div class="col s6 left-align">
                <label>
                    <input name="class_label" class="with-gap" type="radio" value="wild" required/>
                    <span>Wild</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button class="btn btn-large" type="submit">Next </button>
            </div>
        </div>
    </form>
{% endblock %}